*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
ul{
  list-style: none;
}

.app{
  background-color: rgb(255, 254, 254);
  width: 40%;
  position: absolute;
  top:50%;
  left: 50%;
  text-align: center;
  justify-content: center;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  box-shadow: 2px 5px 10px 1px #ccc;
}

.header{
  background-color: rgb(116, 176, 255);
  height: 60px;
  padding: 15px;
  color: white;
  font-family: sans-serif;
  font-size: larger;
  border-radius: 20px;

}
.container{
  font-family: sans-serif;

}

.balance{
  margin: 20px 30%;
    height: 50px;
    color: #696969;
    border-radius: 15px;
    padding: 6px;

}
.minus{
  background-color: rgba(253, 94, 94, 0.479);
}
.plus{
  background-color: rgba(141, 247, 141, 0.87);
}
.inc-exp-container{
  display: flex;
    justify-content:space-around;
    text-align: center;
}

.income{
  background-color: #9cf89c5e;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}
.expense{
  background-color: #feb1b178;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}
.transaction{
  margin-top: 20px;
  overflow:auto;
  height: 200px;
}
.transaction h3, .addTransaction h3{
  color:#006eff ;
  font-size: 24px;
  margin-bottom: 10px;
}
.list{
  width: 60%;
  margin:10px 20%;
}
hr{
  width: 80%;
  margin: 0 10%;
}

.list li{
  border-radius: 5px;
  height: 30px;
  padding: 6px 10px;
  margin: 7px 0px;
  box-shadow: 2px 2px 2px 1px #ddd;
}

.list span{
  float: right;
}

.addTransaction{
  margin: 20px;
}
#form{
  margin-top: 20px;
}
.form-control label{
  background-color: #006eff;
  color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  height: 30px;
}
.form-control{
  margin: 20px;
}
.form-control p{
  margin-top: 5px;
  font-size: small;
}
.form-control input{
  height: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  border: thin solid #ddd;
  background-color: #eee;
}

.addTx{
  background-color: #006eff;
  color: #eee;
  border: none;
  width:50%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}

.addTx:hover{
  background-color: #0458c7;
  color: rgb(255, 255, 255);
  transform: translateY(-2px);
}

@media only screen and (max-width: 768px){
  .app{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .header{
    border-radius: 0;
  }
}